name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    permissions: # Required for Semantic Release to push tags/releases
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm" # Automatically caches pnpm store

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Release
        run: pnpm exec semantic-release ${DRY_RUN:+--dry-run}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HUSKY: "0"
